body{
    border: 0;
    outline: 0;
}
.about-head{
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-head h1{
    padding: 10px;
    color: black;
}

.about-details{
    right: 80%;

    align-items: center;
    width: 100%;
    box-shadow: -1px 1px 3px ;
    margin-left: 1px; 
    border: 2px solid rgb(142, 172, 98);
    box-shadow: -1px 1px 5px 4px rgb(120, 136, 97);
}
.about-details h2{
    text-align: center;
    font-size: 30px;


}
