*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    position: relative;
    margin: 20px auto;
    border-radius: 14px;
    padding: 0;
    padding-top: 20px;
    height: fit-content;
    border: 0.5px solid seagreen;
    width: 98%;
    box-shadow: 0px 0px 8px 2px black ;
}
.head-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid black; 
    border-radius: 20px;
    /* background-color: rgb(7, 7, 7); */
}
.head-1>h1{
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    background-image: linear-gradient(to right,rgb(28, 88, 54),rgb(54, 143, 92),rgb(64, 184, 116));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.person-fill-check{
    border: 2px solid seagreen;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px seagreen;
}
.head-2{
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
}
.head-2>form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.file-1-1,.file-1-2,.file-3-1{
    display: none;
}
.label-1,.label-2,.label-3{
    cursor: pointer;
    padding: 10px 15px 10px 40px;
    background-color: rgb(36, 112, 69);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}
.head-2>form>div:nth-child(1){
    position: relative;
    height: fit-content;
    width: fit-content;
}
.bi-image{
    position: absolute;
    left: 10px;
    top: 0px;
}
.head-2>form>div:nth-child(2){
    position: relative;
    height: fit-content;
    width: fit-content;
}
.bi-person-vcard-fill{
    position: absolute;
    left: 10px;
    top: 0px;
}
.status{
    cursor: pointer;
    padding: 8px 30px 8px 5px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(36, 112, 69);
    color: white;
    outline: 1px solid white;
}
.head-2>form>div:nth-child(5){
    position: relative;
    height: fit-content;
    width: fit-content;
}
.download-dc{
    cursor: pointer;
    padding: 8px 15px 8px 35px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color:  rgb(36, 112, 69);
    border: 0.5px solid seagreen;
}
.bi-download{
    position: absolute;
    left: 10px;
    top: 10px;
}
.btn-1,.btn-2{
    cursor: pointer;
    border: 1px solid red;
    padding: 8px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: rgb(240, 28, 28);
}
.btn-1:hover{
    background-color: rgb(177, 25, 25);
}
.head-3{
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
}
.head-3>form>.head-3-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 95%;
    border-radius: 8px;
    height: fit-content;
    border: 0.5px solid black;
}
.bi-upload{
    position: absolute;
    left: 10px;
    top: 0px;
}
.head-3-1>div:nth-child(1){
    color: rgb(12, 49, 28);
    font-size: 15px;
    font-weight: 600;
}
.head-3-1>div:nth-child(2){
    position: relative;
}
.head-3>form>.head-3-2{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 10px 0px 10px;
    width: 95%;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;
    border: 0.5px solid black;
    background-color: mediumseagreen;
}
.head-3>form>.head-3-2>div:nth-child(1){
    padding: 10px 20px 10px 20px;
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    height: 100%;
    font-weight: 700;
    color: rgb(9, 48, 9);
    border-right: 1px solid rgb(22, 77, 46);
}
.head-3>form>.head-3-2>div:nth-child(2){
    text-align: center;
    padding: 10px 20px 10px 20px;
    flex-grow: 1;
    font-size: 18px;
    font-weight: 700;
    color: rgb(9, 48, 9);
    border-right: 1px solid rgb(22, 77, 46);
}
.head-3>form>.head-3-2>div:nth-child(3){
    text-align: center;
    flex-grow: 1.2;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(9, 48, 9);
}
.d-2{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    position: relative;
    height: max-content;
    width: 240px;
    border: 0.5px solid seagreen;
    position: relative;
    top: 0px;
    left: 218px;
    margin: 0;
    border-radius: 8px; 
}
.d-2>h4{
    padding: 5px;
    margin: 0;
}
.head-3-3{
    padding: 10px 0px 10px 0;
    border: 0.5px solid black;
    width: 95%;
    border-radius: 8px;
    padding: 20px 10px 20px 10px;
    height: max-content;
}
.head-3-3>div:nth-child(1){
    display: flex;
    padding: 20px 0px 20px 0px;
    height: max-content;
    margin-bottom: 50px;
}
.d-3{ 
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height:fit-content;
    width: fit-content;
    position: relative;
    top: 0px;
    left: 370px;
    margin: 0;
    margin-top: 10px;
}
.d-1{
    position: relative;
    top: 0px;
    left: 100px;
    height:100%;
    margin: 0;
    width: fit-content;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: rgb(9, 48, 9);
    margin-top: 10px;
}
.bi-telephone-fill{
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(76, 202, 76);
    border: 2px solid black;
}
.submit{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.submit-1{
    position: relative;
    top: 0;
    left: 388px;
    padding: 10px;
    background-color: rgb(240, 7, 7);
    color: white;
    font-size: 17px;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid rgb(247, 5, 5);
    box-shadow: 0px 0px 6px 2px black;
}
.submit-1:hover{
    background-color:  rgb(240, 28, 28);
}
.bi-box-arrow-left{
    position: absolute;
    left: 4px;
    top: 8px;
}
.log-div{
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}
.logout{
    cursor: pointer;
    padding: 5px 5px 5px 25px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color:  rgb(36, 112, 69);
    border: 0.5px solid rgb(36, 112, 69);
    box-shadow: 0px 0px 5px 1px black;
    transition: all 0.2s ease;

}
.right-btn-logout{
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;

}
.logout:hover{
    background-color: rgb(255, 29, 29);
    border: 0.5px solid rgb(36, 112, 69)
}