body{
    border: 0;
    outline: 0;
}
.feed-head{
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.feed-head h2{
    padding: 10px;
    color:black;
}

.feed-details{
    right: 80%;
    align-items: center;
    width: 100%;
    box-shadow: -1px 1px 3px ;
    margin-left: 1px; 
    border: 2px solid rgb(142, 172, 98);
    box-shadow: -1px 1px 5px 4px rgb(120, 136, 97);
}
.feed-details p{
    text-align:center;
    text-size:20px;
    color: red ;
}
.tbls{
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
}


    .names{
        font-size: 20px;
        color: rgb(80, 56, 56);
    }
    
.inp{
    margin-left: 190px;
    padding: 15px 10px;
    height: 15px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid seagreen;
    margin-bottom: 8px;
}
.inp1{
    margin-left: 190px;
        margin-bottom: 8px;
        border-radius: 5px;
        width: 323px;
        border: 2px solid rgb(234, 137, 25);
        padding: 10px;
}

.btn{
    position: relative;
    padding: 0px 35px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    left:50%;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid  rgb(244, 152, 54);
    background-color: green;
    color: white;
    cursor: pointer;
}
.btn{
    margin-left: 130px;
}

